<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Directive Examples</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  </head>
  <body>
    <div id="directive-test">
      <div>
        <h3>Bind</h3>
        <span v-bind:title="bindTitle">This is a title bind test!</span>
      </div>
      <div>
        <h3>If</h3>
        <span v-if="seen">Now you see me</span>
      </div>
      <div>
        <h3>For</h3>
        <p v-for="text in textList">{{text}}</p>
      </div>
      <div>
        <h3>On</h3>
        <button v-on:click="toggleSeen">Toggle Seen</button>
      </div>
      <div>
        <h3>Model</h3>
        <input v-model="bindTitle" />
      </div>
    </div>
    <script src="index.js"></script>
  </body>
</html>
